<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>HEADER</p>
    <div>
        <p>CONTENT</p>
        <p>SIDEBAR</p>
    </div>
    <p>FOOTER</p>
</body>

</html> -->

<app-e1-header></app-e1-header>
<div class="container">
    <app-e1-content class="container__content"></app-e1-content>
    <app-e1-sidebar class="container__sidebar"></app-e1-sidebar>
</div>
<app-e1-footer></app-e1-footer>